<!-- [ngClass]="{'fixedHeader' : true, 'sticky' : isSticky }" -->
<nav class="navbar navbar-expand-xl">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 384.97 384.97" style="enable-background:new 0 0 384.97 384.97;" xml:space="preserve">
<g>
	<g id="Menu_1_">
		<path d="M12.03,120.303h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03
			c-6.641,0-12.03,5.39-12.03,12.03C0,114.913,5.39,120.303,12.03,120.303z"/>
		<path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03
			S379.58,180.455,372.939,180.455z"/>
		<path d="M372.939,264.667H132.333c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h240.606
			c6.641,0,12.03-5.39,12.03-12.03C384.97,270.056,379.58,264.667,372.939,264.667z"/>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
          </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="Product_subMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                    <ul class="dropdown-menu" aria-labelledby="Product_subMenu">
                        <li><a class="dropdown-item" href="">Event Online</a></li>
                        <li><a class="dropdown-item" href="">Auto Cast</a></li>
                        <li><a class="dropdown-item" href="">Concll Pro</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="Solutions_SubMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solutions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Solutions_SubMenu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">By Application</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Webinars</a></li>
                                <li><a class="dropdown-item" href="#">Meetings</a></li>
                                <li><a class="dropdown-item" href="#">Trainings</a></li>
                                <li><a class="dropdown-item" href="#">Seminars & Conferences</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">By Application</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Pharmaceutical</a></li>
                                <li><a class="dropdown-item" href="#">BFSI</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Case_Study_subMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Case Study</a>
                    <ul class="dropdown-menu" aria-labelledby="Case_Study_subMenu">
                        <li><a class="dropdown-item" href="">Pharma: Global Webcast</a></li>
                        <li><a class="dropdown-item" href="">BPO: Townhall Webcast</a></li>
                        <li><a class="dropdown-item" href="">BFSI: Tech Webcast</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutUs_subMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <ul class="dropdown-menu" aria-labelledby="aboutUs_subMenu">
                        <li><a class="dropdown-item" href="">About Us</a></li>
                        <li><a class="dropdown-item" href="">Our Co-Founders</a></li>
                        <li><a class="dropdown-item" href="">Partners</a></li>
                        <li><a class="dropdown-item" href="">Blog</a></li>
                        <li><a class="dropdown-item" href="">Careers</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Submenu action</a></li>
        <li><a class="dropdown-item" href="#">Another submenu action</a></li>


        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
            </ul>
        </li>
    </ul>
</li> -->